*{
  margin: 0;
  padding: 0;
}

body {
  color:#666;
  font-size:13px;
  background:#f4f4f4;
  font-family: "Arial", sans-serif;
}
#container {
  margin: 15px auto;
  text-align: center;
  width: 900px;
  position: relative;
}

a, a:visited {
  color: #0196e3;
  text-decoration: none;
  outline: none;
}